.error{
	color: red;
	font-style: italic;
	font-weight: 700;
}

.email_error{
	color: #0cbedb;
	font-style: italic;
	font-weight: 700;
}

.username_length{
	color: green;
	font-style: italic;
	font-weight: 700;
}

.footer-area{
	background-color: #007bff;
	text-align: center;
	padding: 20px 0;
}

.footer-area p{
	margin: 0;
}